<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="main.css" rel="stylesheet"/>
    <title>Lesson 1</title>
</head>
<body>
<div id="app">
       <div class="container pt-5">
           <!-- {{ filters }} -->
        <!-- <menu class="nav nav-pills mb-4">
            <li class="nav-item">
                <a href="index.html" class="nav-link active">Главная</a>
            </li>
            <li class="nav-item">
                <a href="users/users.html" class="nav-link">Пользователи</a>
            </li>
            <li class="nav-item">
                <a href="form/form.html" class="nav-link">Форма</a>
            </li>
            <li class="nav-item">
                <a href="todo/todo.html" class="nav-link">Список дел</a>
            </li>
        </menu> -->
        <div class="row">
            <div class="col-6">
                <input class="form-control" 
                v-model="filterInput" 
                type="text" 
                placeholder="фильтр" 
                aria-label="default input example">
            </div>
            <div class="col"></div>
            <div class="col-1">
                <button class="btn btn-primary open-modal" @click="modalShow = !modalShow">Добавить</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <table class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col" @click="sortParam='id', sortDirection = !sortDirection">#</th>
                            <th scope="col" @click="sortParam='first_name', sortDirection = !sortDirection">Имя</th>
                            <th scope="col" @click="sortParam='last_name', sortDirection = !sortDirection" data-sort="last_name">Фамилия</th>
                            <th scope="col" @click="sortParam='age', sortDirection = !sortDirection" data-sort="age">Возраст</th>
                            <th scope="col" @click="sortParam='gender', sortDirection = !sortDirection" data-sort="gender">Пол</th>
                            <th scope="col" @click="sortParam='state', sortDirection = !sortDirection" data-sort="state">Штат</th>
                            <th scope="col" @click="sortParam='street', sortDirection = !sortDirection" data-sort="street">Улица</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                        <tr v-for="staff in sortedList" :key="staff.id">
                            <td>{{ staff.id }}</td>
                            <td>{{ staff.first_name }}</td>
                            <td>{{ staff.last_name }}</td>
                            <td>{{ staff.age }}</td>
                            <td>{{ staff.gender }}</td>
                            <td>{{ staff.state }}</td>
                            <td>{{ staff.street }}</td>
                            <td><button class="btn-close" @click="deleteStaff(staff)"></button></td>

                        </tr>
                </table>
            </div>
        </div>        
        <!-- <div tabindex="-1" :class="modalShow ? 'modal fade show' : 'modal fade'"> -->
            <div tabindex="-1" class="modal fade" :class="{ 'show': modalShow }">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Новый сотрудник</h5>
                        <button type="button" class="btn-close close-modal" @click="modalShow = !modalShow" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form ref="form">
                                <div class="mb-3">
                                    <div class="row">
                                        <label class="col-form-label">Пол:</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked>
                                        <label class="form-check-label" for="male">
                                            Мужской
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                                        <label class="form-check-label" for="female">
                                            Женский
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <label for="staff-first_name" class="col-form-label">Имя:</label>
                                            <input type="text" class="form-control" id="staff-first_name" name="first_name" :class="{ 'is-invalid': errors.first_name }">
                                            <span class="invalid-feedback" id="error-first_name">Ошибка</span>
                                        </div>
                                        <div class="col">
                                            <label for="staff-last_name" class="col-form-label">Фамилия:</label>
                                            <input type="text" class="form-control" id="staff-last_name" name="last_name" :class="{ 'is-invalid': errors.last_name }">
                                            <span class="invalid-feedback" id="error-last_name">Ошибка</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <label for="staff-age" class="col-form-label">Возраст:</label>
                                            <input type="number" class="form-control" id="staff-age" name="age" :class="{ 'is-invalid': errors.age }">
                                            <span class="invalid-feedback" id="error-age">Ошибка</span>
    
                                        </div>
                                        <div class="col">
                                            <label for="staff-date" class="col-form-label">Дата:</label>
                                            <input type="date" class="form-control" id="staff-date" name="employmentAt" :class="{ 'is-invalid': errors.employmentAt }">
                                            <span class="invalid-feedback" id="error-date">Ошибка</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <label for="staff-state" class="col-form-label">Штат:</label>
                                            <input type="text" step="100" class="form-control" id="staff-state" name="state" :class="{ 'is-invalid': errors.state }">
                                            <span class="invalid-feedback" id="error-state">Ошибка</span>                                        
                                        </div>
                                        <div class="col">
                                            <label for="staff-street" class="col-form-label">Улица:</label>
                                            <input type="text" class="form-control" id="staff-street" name="street" :class="{ 'is-invalid': errors.street }">
                                            <span class="invalid-feedback" id="error-street">Ошибка</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="staff-skills" class="col-form-label">Навыки:</label>
                                    <textarea class="form-control" id="staff-skills" name="skills" rows="6":class="{ 'is-invalid': errors.skills }">

                                    </textarea>
                                    <span class="invalid-feedback" id="error-skills">Ошибка</span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-modal" @click="modalShow = !modalShow" data-bs-dismiss="modal">Отменить</button>
                        <button type="button" class="btn btn-primary save-modal" @click="saveForm()">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination d-flex justify-content-center">
        <button type="button" class="page-item btn" v-if="offset != 0" @click="offset - limit >= 0 ? offset -= limit : offset = 0"> << </button>

        <button 
        type="button" 
        class="page-item btn"
        :class="{'active': page === offset / limit +1}" 
        v-for="page in pages.slice(offset / limit, offset / limit +6)" 
        :key="page" 
        @click="changePage($event)">
            {{ page }}
        </button>
        <button type="button" @click="offset += limit" class="btn btn-sm btn-outline-secondary"> >> </button>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>
